/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

/Imagen-v3/bin/classes.dex
/Imagen-v3/bin/dexedLibs/
/Imagen-v3/bin/Imagen-v3.apk
/Imagen-v3/bin/res/
/Imagen-v3/bin/resources.ap_

/Imagen-v2/bin/classes.dex
/Imagen-v2/bin/classes/apps101/Imagen/MainActivity$1.class
/Imagen-v2/bin/classes/apps101/Imagen/MainActivity.class
/Imagen-v2/bin/Imagen-v2.apk

*/.metadata/*
